

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    

}
.header{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding-left: 50px;
    padding-top: 10px;
  
    
}
.nav-link{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 80px;
}
.nav-link{
    flex: 1;
    text-align: right;
}
.nav-link ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-link ul li a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}
.content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content .textbox{
    position: relative;
    max-width: 600px;

}
.content .textbox h2{
    color: #333;
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 500;
    
}
.content .textbox h2 span{
     color: #017143;
     font-size: 1.2em;
     font-weight: 900;
}
.content .textbox p{
    color: #333;
}
.content .textbox a{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #017143;
    color: azure;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}
.content .textbox a:hover{
    border: 1px solid rgb(36, 255, 3);
    box-shadow: 0 0 20px 0px rgb(79, 142, 54);
    transition: ease-in-out 0.5s;
}
.content .imgBox{
    width:600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;
}
.content .imgBox img{
    max-width: 340px;
}
.thumb{
    position: absolute;
    left: 50%;
    bottom: 20px;

    transform: translate(-50%);
    display: flex;
}
.thumb li{
    list-style: none ;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition:0.5s;
}
.thumb li:hover{
    transform: translateY(-15px);
}
.thumb li img{
    max-width: 60px;
}
/*
.sci{
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%) ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sci li{
    list-style: none;
}

.sci li i{
    display: inline-block;
    margin: 5px 0;
    transform: scale(0.6);
}*/
.circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #017143;
    clip-path: circle(600px at right 800px );
}
